
body{
    font-family: 'Poppins', sans-serif;
}

nav{
    border-bottom: 1px solid #F74922;
}
/*
main section p{
    background-color: #F74922;
}
*/
.video{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1,h2{
    text-align: center;
}
h3{
    text-align: left;
}

form label{
    display: block;
}

/*elimina los subrayados de los links y on hover, marca el color rojo */

a:hover{
    color: red !important;
}

section{
    clear: both;
}
/*
footer{
    text-align: center;
}*/
.contenedor-footer {
    display: flex;
    justify-content: center; /* Para centrar las imágenes horizontalmente */
    align-items: center; /* Para centrar las imágenes verticalmente */
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan a la siguiente línea en celular / tablet */
}

.contenedor-footer2{
    text-align: right;
    padding-right: 2px;
    padding-top: 10px;
}

.contenedor-footer img {
    max-width: 100%;
    height: auto;
    margin: 10px; /* Espacio entre las imágenes */
}

td{
    text-align: center;
}

br{
    clear: both;
}


/*clases para los distintos elementos*/
.imgIzquierda{
    float: left;
    width: 100%;
}
.logo{
    float: left;
    height: 40px;
    width: 75px;
}

.trabajaConNosotros{
    float: right;
    padding-top: 30px;
}

#accesoPlataforma{
    float: right;
}

.boton{
    background-color: lightsalmon;
}

@media only screen and (min-width: 201px) and (max-width: 600px) {
    .map{
        width: 300px;
    }
  }
  
  /* Estilos para pantallas medianas (601px - 900px) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .map{
        width: 380px;
    }
  }
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    .map{
        width: 460px;
    }
  }

  
  /* Estilos para pantallas grandes (más de 900px) */
  @media only screen and (min-width: 1200px) {
    .map{
        width: 700px;
    }
}